#background {
    background-color: rgb(233, 233, 233);
}

/* Change navbar color */
.navbar {
    background-color: rgb(216, 189, 216);
}

/* Change button color */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #937eac !important;
    border-color: #937eac !important;
}

#startScreen, #question, #confirmation {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
